.section-banner {
  min-height: 700px;
  position: relative;
  background-image: url(map-get($theme-colors, "banner_img"));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: map-get($theme-colors, "banner_bgcolor");
  background-size: cover;
  background-position: 388px -376px;
  font-family: poppins, sans-serif;

  .banner-content {
    .brand {
      font-size: 100px;
      line-height: 1.2;
      letter-spacing: -.04em;

      img {
        width: 50px;
        vertical-align: text-top;
      }
    }
    p {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.2;
    }
  }
}

@media (min-width: 1600px) {
  .section-banner {
    background-size: cover;
  }
}

@include desktop {
  .section-banner {
    background-position: 250px -380px;
  }
}

@include tablet {
  .section-banner {
    min-height: 515px;
    background-position: 350px -380px;
    .banner-content {
      .brand {
        font-size: 60px;
      }
    }
  }
}

@include mobile-xs {
	.section-banner {
    .banner-content {
      .brand {
        font-size: 3.0rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
}