.section-banner {
  min-height: 500px;
  position: relative;
  background-image: url(map-get($theme-colors, "banner_img"));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: map-get($theme-colors, "banner_bgcolor");
  background-size: cover;
  background-position: 388px -576px;

  .banner-content {
    .brand {
      font-size: 45px;
      line-height: 1.11;
      letter-spacing: 1.4px;

      img {
        width: 50px;
        vertical-align: text-top;
      }
    }
    p {
      font-size: 2.14rem;
      font-weight: 300;
    }
  }
}

@media (min-width: 1600px) {
  .section-banner {
    background-size: cover;
  }
}

@include desktop {
  .section-banner {
    min-height: 480px;
    background-position: 250px -380px;
  }
}

@include mobile {
	.section-banner {
    .banner-content {
      .brand {
        font-size: 2.3rem;
      }
    }
  }
}

@include mobile-xs {
	.section-banner {
    .banner-content {
      .brand {
        font-size: 2.0rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
}