.section {
  padding: 90px 0px;
}

.section-sm {
  padding: 90px 0px;
}

.section-top {
  padding-top: 90px;
}

.section-bottom {
  padding-bottom: 90px;
}

.section-heading {
  margin-bottom: 75px;

  p {
    margin-top: 20px;
  }
}

.divider {
  width: 120px;
  height: 6px;
  background: $primary-color;
  display: block;
}

.mb-30 {
  margin-bottom: 30px;
}

.pl-90 {
	padding-left: 150px;
}

.content-padding {
  padding: 220px 0px 200px 0px;
}

.form-control {
  border-color: $border-color;
  height: 50px;
  padding-left: 20px;
  font-size: 13px;
  background: #eee;
}

.form-control:focus,
.form-control:hover,
.form-control:active {
  box-shadow: none;
  border-color: $primary-color;
}

.bg-primary {
  background: $primary-color !important;
}

.bg-secondary {
  background: $secondary-color !important;
}

.bg-red {
	background: $yellow;
}

.btn {
  line-height: 1;
  padding: 16px 32px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  will-change: box-shadow;
  font-size: 13px;
  border-radius: 0px;
  letter-spacing: .2em;
  text-transform: uppercase;
  border: 2px solid transparent;
  font-weight: 700;
  font-family: $base-font;
}

.btn:focus,
.btn.focus {
  box-shadow: none;
}

.btn-rounded {
  border-radius: 60px;
}

.btn-sm {
  padding: 5px 18px;
  border-radius: 50px;
}

.btn-secondary {
  background: $secondary-color;
  border-color: $secondary-color;
  color: $white;

  &:hover {
    background: transparent;
    color: $black;
    border-color: $secondary-color;
  }
}

.btn-hero {
  background: $primary-color;
  border-color: $primary-color;
  color: $white;

  &:hover {
    background: $hover-color;
    border-color: $hover-color;
    color: $white;
  }
}

.btn-gray {
  background: $gray-light;
  color: $black;
}

.text-color {
  color: $primary-color;
}

.text-black {
  color: $black;
}

.text-md {
  font-size: 45px;
  line-height: 1.2;
}

.box-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.border-left {
  border-left: 1px solid rgba(0, 0, 0, 0.06) !important;
}

.error {
  h3 {
      font-size: 89px;
      color: #888;
  }
}

@include tablet {
	.pl-90 {
	    padding-left: 0px;
	}
}