.section-feature {
	background-color: map-get($theme-colors, "banner_bgcolor");
}

.feature-box {
  	margin: 7.5px;
	background: $white;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-ms-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .35s ease;
	border-radius: 5px;
	
	i {
		font-size: 60px;
	}

	.divider {
		width: 45px;
		height: 2px;
		margin-bottom: 20px;
		background: $primary-color;
	}

	&:hover {
		background: $secondary-color;
		i {
			color: $white;
		}
		h4 {
			color: $white;
		}
		p {
			color: rgba(255,255,255,.8);
		}

		.divider {
			background: $border-color;
		}
	}

	&.active{
		background: $secondary-color;
		i {
			color: $white;
		}
		h4 {
			color: $white;
		}
		p {
			color: rgba(255,255,255,.8);
		}

		.divider {
			background: $border-color;
		}
	}
}

.heading h2 {
	position: relative;

	&:before {
		position: absolute;
		content: "";
		left: -130px;
		top: 20px;
		width: 100px;
		height: 3px;
		background:$primary-color;
	}
}

.feature-item {
	padding: 40px;
	background: #f8f9fa;
	-webkit-transition: all .35s ease;
	   -moz-transition: all .35s ease;
	    -ms-transition: all .35s ease;
	     -o-transition: all .35s ease;
	        transition: all .35s ease;

	i {
		font-size: 60px;
		color: $white;
	}
	h4 {
		color: $white;
	}
	p {
		color: rgba(255,255,255,.7);
	}

}
