.footer {
	background: url(../images/bg/footer-bg.jpg) no-repeat;
	.brand {
		font-size: 1.5rem;
		img {
			width: 2.3rem;
		}
	}
	.input-group {
		.form-control {
			background-color: $white;
			border: 0;
			border-radius: 60px 0 0 60px;
		}
	}
}

.footer-socails {
	a {
		padding: 0px 10px;
		i {
			font-size: 30px;
			color: $white;
		}
	}
}

.copy.border-top {
	border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
}

@include tablet {
	.btn {
	    padding: 16px 20px;
	}
}

@include mobile {
	.btn {
	    padding: 16px;
	}
}

@include mobile-xs {
	.form-control {
		font-size: 11px;
	}
	.btn {
		padding: 10px;
		font-size: 11px;
	}
}