// Navigation Styles
.header-bar {
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: map-get($theme-colors, "body_bgcolor");
}

.navbar-brand {
    font-size: 1.5rem;
    letter-spacing: 1.4px;
    color: map-get($theme-colors, "body_txtcolor");
    img {
       width: 2.3rem;
    }
}

.main-nav {
    transition: all .7s linear;

    .nav-link {
        letter-spacing: 1.4px;
        text-transform: uppercase;
        color: map-get($theme-colors, "body_txtcolor");
        opacity: .9;
        
        &:hover {
            color: $hover-color;
        }
    }
}

.dropdown {
    padding: 0px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    padding: 10px 12px 10px 25px;
    border-bottom:1px dashed $border-color;
    border-left:3px solid transparent;
    &:hover{
        color: $primary-color;
        background: transparent;
        border-left:3px solid $primary-color;
    }
}

.dropdown-menu {
    min-width:250px;
    border:0px;
    border-radius: 0px;
    box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.07);
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: all .15s ease-out;
    display: block;
    padding:0px !important;
}

.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility:visible;
}

.page-header {
    ul li {
        color: $black;
        font-size: 18px;
        a {
            color: $black;
        }
    }

    .divider {
        width: 100px;
        height: 4px;
    }
}

@include desktop {
    .header-bar {
        padding: 20px 0px;
    }
    .main-nav .nav-link {
        padding: 10px 18px !important;
    }
    .navbar-nav .dropdown-menu {
        position: absolute;
    }
}

@media (min-width: 768px) {
    .top-nav-collapse {
        text-shadow: none;
        border-color: transparent;
        background-color: $white;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        -ms-transition: all .2s ease;
        transition: all .2s ease;
    }
}

@include tablet {
    .header-bar {
        padding: 20px 0px;
    }
    .main-nav .nav-link {
        padding: 10px 18px !important;
    }
    .navbar-nav .dropdown-menu {
        position: absolute;
    }
}

@include mobile {
    .header-bar {
        padding: 20px 0px;
    }
    .main-nav .nav-link {
        padding: 10px 18px !important;
    }
    .navbar-nav .dropdown-menu {
        position: absolute;
    }
}

@include mobile-xs {
    .header-bar {
        padding: 20px 0px;
    }
    .main-nav .nav-link {
        padding: 10px 18px !important;
    }
    .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-brand {
        font-size: 1.3rem;
        img {
           display: initial;
        }
    }
}