//fonts
$base-font                : 'Roboto', sans-serif;
$heading-font             : 'Roboto', sans-serif;
$base-font-size           : 14px;

//colors
$white                    : #ffffff;
$black                    : #111111;
$black-lighter            : #444444;
$gray                     : #a4a4a4;
$gray-light               : #f8f8f8;
$very-light-gray          : #f1f2f2;
$dusty-gray			  	      : #a1939e;
$strong-pink              : #f2126e;

$pompadour                : #5E2040;

$hover-color			        : #b21757;
$border-color             : #e8e8e8;

$primary-color			      : #ff007a;
$secondary-color          : #42273c;
$orange                   : #ff4747;
$yellow                   : #f87c57;

$primary-colors: (
  "body_bgcolor": $white,
  "body_txtcolor": $black,
  "banner_img": "../images/TSCIRCLE_Final_Logo_Circle_Only.svg",
  "banner_bgcolor": $white,
);
$secondary-colors: (
  "body_bgcolor": $secondary-color,
  "body_txtcolor": $white,
  "banner_img": "../images/TSCIRCLE_Final_Logo_Circle_Only.svg",
  "banner_bgcolor": $secondary-color,
);
$theme-colors: $primary-colors;
//$theme-colors: $secondary-colors;
