{{ define "main" }}

<!-- banner -->
{{ with .Site.Data.homepage.banner }}
<section class="section-banner d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col mr-auto">
                <div class="banner-content">
                    <div class="mt-3 brand">
                        <img src="{{ "images/circle_logo.svg" | absURL }}" alt="{{ .Site.Title }}" class="img-fluid d-none">
                        <span class="font-blacki">TS</span><span class="font-lighti">CIRCLE</span>
                    </div>
                    <p class="my-4">we build products with love of <br>creativity and technology</p>
                    <a href="{{ "documentation" | absURL }}" class="btn btn-hero btn-rounded">Documentation</a>
                    <a href="{{ "documentation" | absURL }}" class="btn btn-hero btn-rounded ml-5">Hover</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
<!-- /banner -->

<!-- counter -->
{{ if .Site.Data.homepage.counter.enable }}
{{ with .Site.Data.homepage.counter }}
<section class="overflow-hidden counter-wrapper pt-4 pb-5">
    <div class="container">
        <div class="counter-inner">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="counter-stat ml-4">
                        <h2 class="font-weight-light">almost <b>100% serverless</b><br>AWS resources are used</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 ml-4 ml-lg-0 syotimer text-lg-right">
                    <div class="syotimer__head"></div>
                    <div class="syotimer__body">
                        <div class="syotimer-cell syotimer-cell_type_hour">
                            <div class="syotimer-cell__value">CPU</div>
                            <div class="syotimer-cell__unit text-primary">Lambda</div>
                        </div>
                        <div class="syotimer-cell syotimer-cell_type_hour">
                            <div class="syotimer-cell__value">DB</div>
                            <div class="syotimer-cell__unit text-primary">RDS Serverless</div>
                        </div>
                        <div class="syotimer-cell syotimer-cell_type_hour">
                            <div class="syotimer-cell__value">Cache</div>
                            <div class="syotimer-cell__unit text-primary">DynamoDB</div>
                        </div>
                        <div class="syotimer-cell syotimer-cell_type_hour">
                            <div class="syotimer-cell__value">Storage</div>
                            <div class="syotimer-cell__unit text-primary">S3 Storage</div>
                        </div>
                    </div>
                    <div class="syotimer__footer"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
<!-- counter -->

<!-- quote -->
<section class="section cta-wrap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="cta-content">
                    <h2 class="mt-3 mb-4 text-md text-center">
                        <span class="text-primary">“</span>
                        What I love even more than beautiful code is creating rapidly new products which are driven by
                        creativity and technology.<span class="text-primary">”</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /quote -->

<!-- feature -->
{{ if .Site.Data.about.feature.enable }}
{{ with .Site.Data.about.feature }}
<section class="section-feature pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4 p-0">
                        <div class="p-4 box-shadow feature-box">
                            <h4 class="mt-3 mb-2 font-black">Headline</h4>
                            <div class="divider"></div>
                            <p class="text-black">
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem 
                                Lorem ipsum Lorem Lorem ipsum Lorem ipsum 
                                Lorem ipsum.
                                <a href="{{ .link | absURL }}" class="text-primary">Link</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0">
                        <div class="p-4 box-shadow feature-box">
                            <h4 class="mt-3 mb-2 font-black">Headline</h4>
                            <div class="divider"></div>
                            <p class="text-black">
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem 
                                Lorem ipsum Lorem Lorem ipsum Lorem ipsum 
                                Lorem ipsum.
                                <a href="{{ .link | absURL }}" class="text-primary">Link</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0">
                        <div class="p-4 box-shadow feature-box">
                            <h4 class="mt-3 mb-2 font-black">Headline</h4>
                            <div class="divider"></div>
                            <p class="text-black">
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem 
                                Lorem ipsum Lorem Lorem ipsum Lorem ipsum 
                                Lorem ipsum.
                                <a href="{{ .link | absURL }}" class="text-primary">Link</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0">
                        <div class="p-4 box-shadow feature-box">
                            <h4 class="mt-3 mb-2 font-black">Headline</h4>
                            <div class="divider"></div>
                            <p class="text-black">
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem 
                                Lorem ipsum Lorem Lorem ipsum Lorem ipsum 
                                Lorem ipsum.
                                <a href="{{ .link | absURL }}" class="text-primary">Link</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0">
                        <div class="p-4 box-shadow feature-box">
                            <h4 class="mt-3 mb-2 font-black">Headline</h4>
                            <div class="divider"></div>
                            <p class="text-black">
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem 
                                Lorem ipsum Lorem Lorem ipsum Lorem ipsum 
                                Lorem ipsum.
                                <a href="{{ .link | absURL }}" class="text-primary">Link</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0">
                        <div class="p-4 box-shadow feature-box">
                            <h4 class="mt-3 mb-2 font-black">Headline</h4>
                            <div class="divider"></div>
                            <p class="text-black">
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem 
                                Lorem ipsum Lorem Lorem ipsum Lorem ipsum 
                                Lorem ipsum.
                                <a href="{{ .link | absURL }}" class="text-primary">Link</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0">
                        <div class="p-4 box-shadow feature-box">
                            <h4 class="mt-3 mb-2 font-black">Headline</h4>
                            <div class="divider"></div>
                            <p class="text-black">
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem 
                                Lorem ipsum Lorem Lorem ipsum Lorem ipsum 
                                Lorem ipsum.
                                <a href="{{ .link | absURL }}" class="text-primary">Link</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0">
                        <div class="p-4 box-shadow feature-box">
                            <h4 class="mt-3 mb-2 font-black">Headline</h4>
                            <div class="divider"></div>
                            <p class="text-black">
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem 
                                Lorem ipsum Lorem Lorem ipsum Lorem ipsum 
                                Lorem ipsum.
                                <a href="{{ .link | absURL }}" class="text-primary">Link</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0">
                        <div class="p-4 box-shadow feature-box">
                            <h4 class="mt-3 mb-2 font-black">Headline</h4>
                            <div class="divider"></div>
                            <p class="text-black">
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem 
                                Lorem ipsum Lorem Lorem ipsum Lorem ipsum 
                                Lorem ipsum.
                                <a href="{{ .link | absURL }}" class="text-primary">Link</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{{ end }}
{{ end }}
<!-- /feature -->

{{ end }}
